body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline:none;

  background-color: #f8f8f8;

  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  margin-left: 10px;
  border: 1px solid #7a868c;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 4px;
}
input:focus {
    border: 1px solid red;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

}

input, button, img{
  outline: 0;
}


button {
  height: 40px;
  padding: 0px 20px;
  border-radius: 5px;
  color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
